  .venue-image {
    width: 100px;
    height: 400px; 
    object-fit: cover;
  }

  .venue-card {
    height: 100%; /* Make the card take up the full height of its container */
  }
  
  .venue-card .card-body {
    height: calc(100% - 200px); /* Subtract the height of the image from the height of the card body */
    overflow: auto; /* Add a scrollbar if the content is too long */
  }
  
  .venue-card img {
    width: 100%;
    height: 250px; 
    object-fit: cover; /* Scale the image to cover the entire area */}

.booking-details {
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
}
      
.booking-title {
        text-align: center;
        color: #333;
}
      
.booking-info {
        margin-bottom: 20px;
}
      
.booking-info p {
        margin: 10px 0;
}
      
.booking-image {
        display: flex;
        justify-content: center;
}
      
.booking-image img {
        max-width: 50%;
        height: auto;
}